<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaozhu.article.dao.TopicMapper" >

    <insert id="save" parameterType="topic">
        insert into topic values(#{id},#{name})
    </insert>

    <select id="findOne" parameterType="string" resultType="topic">
        select * from topic where id = #{id}
    </select>

    <select id="topicList" resultType="topic">
        select * from topic
    </select>

</mapper>